.teamLogo {
    padding: 10%;
    width: 70px;
    height: 70px;
}
.navLink {
    background-color: #09dbbe;
    color: #eee;
    padding: 3px 6px;
    margin: 0 8px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px #0000004a;
    text-align: center;
    min-width: 125px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.theNavbar {
    background-color: transparent;
}
.theNavbar.active {
    background-color: #1292ad;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.theNavbar.active .navLink {
    box-shadow: 4px 4px 10px #eee;

}
.theNavbar.active .menuIcon {
    background-color: #09dbbe;
}
.menuIcon {
    animation-name: menu;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    border: 1px solid #09dbbe29;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
}

@keyframes menu {
    0% {
        background-color: #09dbbe;
    }
    40% {
        background-color: transparent;
    }
    70% {
        background-color: #1292ad;
    }
}
@media (max-width: 991px) {
    .teamLogo {
        padding: 18%;
        width: 70px;
        height: 70px;
    }
}
