.articleBox {
    background: linear-gradient(to bottom, #1292ad, #09dbbe);
    padding: 12px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    height: 300px;
    color: #fff;
    width: 60%;
    margin: 40px auto;
    height: 400px;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border: 2px solid #09dbbe;
}
a {
    text-decoration: none;
}
.articleBox:hover {
    background: #fff;
    color: #09dbbe;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.articleImage {
    width: 55%;
}
.articleH2 {
    margin-bottom: 20px;
}
@media (max-width: 1250px ) {
    .articleImage {
        width: 80%;
    }
}
@media (max-width: 948px ) {
    .articleImage {
        width: 94%;
    }
}
@media (max-width: 768px ) {
    .articleImage {
        width: 66%;
    }
    .articleBox {
        height: 280px;
    }
}






