.cardServ {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    min-height: 72vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: 4px 4px 15px 2px black;
}
.cardServ:hover {
    width: 100%;
    transition: 0.5s;
    padding: 80px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.ourserv {
    background-color: #09dbbe;
    background-image: none;
}
.ourServHead {
    color: #09dbbe;
}
.whatWeHave {
    background-color: #eee;
    color: #09dbbe;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
