.langBox {
    width: 170px;
    height: 170px;
    color: #eee;
    font-weight: bold;
    font-size: 24px;
    background-color: #09dbbe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 40px auto;
    border: 2px solid #09dbbe;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.langProgContainer {
    justify-content: center;
    align-items: center;
}
.langBox:hover {
    background-color: #fff;
    color: #09dbbe;
}
