.formContainer {
    width: 30%;
    height: 70%;
    margin-left: 13%;
    background-color: transparent;
    border: 1px solid #0172AF;
    color: #0172AF;
    border-radius: 24px !important;
    -webkit-border-radius: 24px !important;
    -moz-border-radius: 24px !important;
    -ms-border-radius: 24px !important;
    -o-border-radius: 24px !important;
    box-shadow:  8px 8px 15px #03a9f485;
}

.logoAct {
    display: none;
}

@media (min-width: 700px) and (max-width:1000px) {
    .formContainer {
        width: 65%;
    }
}

@media screen and (max-width:700px) {
    .formContainer {
        width: 70%;
        margin: 17%;
        height: 80%;
        margin-bottom: 40%;
    }
    .backgroundForForm {
        justify-content: center;
    }
    .logoAct {
        display: block;
        top: 2px;
        width: 18%;
        padding: 10px;
        position: absolute;
        right: 1px;

    }
}
.backgroundForForm {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;

    justify-content: left;

}
.btn-youth {
    background-color: #0172AF;
    color: #eee;
}
.wrongData {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    padding: 3px 5px;
}
.form-control {
    border-bottom: 2px solid #09dbbe;
}
